*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.google-container .google p{
  text-align: center;
  padding-top: 150px;
  font-size: 120px;
  color: #00ff;
}
.google-container .google p span{
    color:#ff000f ;
}
.google-container .google p .as{
    color: yellow;
}
.google-container .google p .lala{
    color: #00ff;
}
.google-container .google p .asd{
    color: #008000;
}

.google-container .google .google-search input{
    padding: 10px 250px 10px 80px ;
    color: #000;
    font-size: 18px;
    background-color: #ff000f;
    text-align: right;
}
.google-container .google-search{
    text-align: center;
    padding-top: 30px;
}
.google-container .google-search .input input{
    padding: 20px 280px 20px 80px;
    border-radius: 25px;
    outline: 0;
    border: 0;
    box-shadow:  0 4px 10px 0  #333;
    position: relative;
    font-size: 18px;
}
.google-container .google-search .search-icon{
    position: absolute;
    content: '';
    width: 100%;
    top: 335px;
    left: -250px;
}
.google-container .google-search .search-icon i{
    font-size: 30px;
    cursor: pointer;
}
.google-container .google-search .voice-icon{
    position: absolute;
    width: 100%;
    content: '';
    left: 220px;
    top: 335px;
}
.google-container .google-search .voice-icon i{
    font-size: 25px;
   padding-left: 10px;
   cursor: pointer;
}

